* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto";
  height: 100%;
  background-color: #fafafa;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.slide-link a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.5s;
}

.slide-link a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
  transform: translateX(10px);
}

.zoom-link a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.5s;
}

.zoom-link a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
  transform: scale(1.2);
}

.hr {
  height: 1px;
  width: 40px;
  background-color: black;
  margin: auto
}

.bg-black {
  background-color: black;
}

.topper {
  font-size: 11px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #d8d8d8;
  letter-spacing: 1px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: inherit;
  white-space: nowrap;
}

.nav-item {
  font-size: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1 !important;
}

.footer-header {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-text {
  font-size: 14px;
  color: #000000;
}

.social-icon {
  font-size: 30px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
}

.is-sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  z-index: 999;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.advantage-shape {
  filter: grayscale(100%);
}

.advantage-shape h3 {
  margin-top: 10px;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 2px;
}

.advantage-shape p {
  font-weight: 500;
  font-size: 17.1083px;
  line-height: 20px;
  color: #828282;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.title-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-title-text {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: gray;
}

.card {
  transition: all ease-in-out 0.2s !important;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card:hover .box-add-to-cart {
  opacity: 0.5;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.show-product {
  animation: slide-in 0.5s ease-in-out;
}

.small, small {
  font-size: 0.80em;
  font-weight: 400;
}

.btn-to-top {
  animation: slide-in 0.3s;
}

.btn-to-top a {
  color: white;
}

.product-page {
  min-height: 500px;
}

.product-article h3 {
  margin-top: 20px;
  font-size: 20px;
}

.product-article p {
  margin-top: 10px;
  font-size: 16px;
}

.cart-img {
  width: 50px;
  margin-right: 20px;
}